In [17]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.metrics import f1_score

In [18]:
df = pd.read_csv('soil_measures.csv')
df

        N   P   K        ph    crop
0      90  42  43  6.502985    rice
1      85  58  41  7.038096    rice
2      60  55  44  7.840207    rice
3      74  35  40  6.980401    rice
4      78  42  42  7.628473    rice
...   ...  ..  ..       ...     ...
2195  107  34  32  6.780064  coffee
2196   99  15  27  6.086922  coffee
2197  118  33  30  6.362608  coffee
2198  117  32  34  6.758793  coffee
2199  104  18  30  6.779833  coffee

[2200 rows x 5 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       2200 non-null   int64
 1   P       2200 non-null   int64
 2   K       2200 non-null   int64
 3   ph      2200 non-null   float64
 4   crop    2200 non-null   object
dtypes: float64(1), int64(3), object(1)
memory usage: 86.1+ KB

No missing values, phew!
The crop column needa be numeric though ;)

In [24]:
df = pd.get_dummies(df, dtype=int)
df

,N,P,K,ph,crop_apple,crop_banana,crop_blackgram,crop_chickpea,crop_coconut,crop_coffee,...,crop_mango,crop_mothbeans,crop_mungbean,crop_muskmelon,crop_orange,crop_papaya,crop_pigeonpeas,crop_pomegranate,crop_rice,crop_watermelon
0,90,42,43,6.502985,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,85,58,41,7.038096,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,60,55,44,7.840207,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,74,35,40,6.980401,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,78,42,42,7.628473,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,6.780064,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2196,99,15,27,6.086922,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2197,118,33,30,6.362608,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2198,117,32,34,6.758793,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2199,104,18,30,6.779833,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [28]:
df = df.replace({True: 1, False: 0})
df

,N,P,K,ph,crop_apple,crop_banana,crop_blackgram,crop_chickpea,crop_coconut,crop_coffee,...,crop_mango,crop_mothbeans,crop_mungbean,crop_muskmelon,crop_orange,crop_papaya,crop_pigeonpeas,crop_pomegranate,crop_rice,crop_watermelon
0,90,42,43,6.502985,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,85,58,41,7.038096,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,60,55,44,7.840207,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,74,35,40,6.980401,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,78,42,42,7.628473,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,6.780064,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2196,99,15,27,6.086922,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2197,118,33,30,6.362608,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2198,117,32,34,6.758793,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2199,104,18,30,6.779833,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0